  <link rel="import" href="../views/px-card-chatBox.html">
 <style>
    px-card {
      max-width: 10px;
      min-width: 10px;
    background-color:white;
    color:#005cb9;
    margin-bottom: -21.666667rem !important;
	padding: 3px 1.3333333333rem 2rem;
    }
    
    img{
    margin-left:10px;
       float:left;
    margin-top:7px; 
	margin-right:10px;
    }
label{
   float:left;
margin:10px;
margin-left:15px;
}

#PBagde{
left: 149px !important;
    top: 12px !important;
}

h3#headertext{

margin-top: -12px !important;

}

th, td {
    padding: 8px;
    text-align: left;
	color: #485563;
	font-family:GE Inspira pitch;
	
}
</style>
<!--  
<link rel="import" href="../views/paper-custom-tab.html"> -->

<link rel="import" href="../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">


<!-- <dom-module is="sample-card"> -->
<!--   <template> -->
<px-card  id="1" style="min-width:970px; margin-left:0px; max-height:90px;">
   <div>
   <img src="\images\carlos.jpg" height="70px"; > 
   <label name="Michel" style="padding:0 0 0 0;margin: 8px 0;font-family: 'GE Inspira',Verdana,Geneva,sans-serif;"> <B> <font color="black"><font size="5px">Carlos Garza</font><br><font color=" #93957B">IT Project AnalystGE Power</font><br><font family= "GE Inspira",Verdana,Geneva,sans-serif;> PWR-PGS Power Generation Services</font></B> 
</label>
   </div>

   <div>
   <font color=" #93957B" style=margin-left:150px;margin-top:120px;padding-left:28px; title="Boulevard Diaz Ordaz Km. 333 San Pedro Garza Garcia,Monterrey,NLE,66215,MX"> Boulevard Diaz Ordaz Km. 333 San Pedro Garza Garcia,</font> <font color=" #93957B" style= margin-left:150px;margin-top:120px;padding-left:189px;>Monterrey,NLE,66215,MX
  <!--<img src="\images\location_icon_blue.png" />--> </font>
   </div>
   <div>
   <img style="padding-left: 324px;" src="\images\image.jpg" title=" Mobile Phone: +52 18118003893" >
   <img src="\images\image1.jpg" title=" Office Phone: +52 81 14542077" >
   <img src="\images\image2.jpg" title="Email: carlos.garzaz@ge.com" >
   </div>
   </px-card>
    <br>
   <br>
   <br>
   
   <div>
    <px-card id ="2" header-text="Metrics Details" style="font-family:GE Inspira pitch;position:absolute; min-width: 280px;margin-top: 0px;margin-right: 715px; margin-left: 0px;min-height: 215px;   margin-bottom: -400px;">
      
 <font color="#485563" style="font-family: 'GE Inspira pitch';">
<p><b>Length</b>

<input type="radio" name="length" value="inch">inch
<input type="radio" name="length" value="cm">cm
<input type="radio" name="length" value="mm">mm</p>

<p><b>Degree</b>
<input type="radio" name="degree">celsius
<input type="radio" name="degree">fahrenheit</p>

<p><b>Language</b>
<input type=checkbox>English</font>
</p>
    </px-card>
 <px-card   id ="3" header-text="My Favourites"  style="font-family:GE Inspira pitch;position:absolute;   margin-left: 295px;margin-right: 950px; padding-bottom:467px;margin-top: 0px; min-width: 335px; max-height: 70px;margin-bottom: -400px;">
   <table style="font-family:GE Inspira pitch; font-color:#485563;">
   
   <tr>
   <td><b>Last Job</b></td>
   <td>:</td>
   <td>33012</td>
   </tr>
   <tr>
   <td><b>Job</b></td>
   <td>:</td>
   <td>5560</td>
   </tr>
   <tr>
   <td> <b>Reports count</b></td>
   <td>:</td>
   <td>34</td>
   </tr>
   <tr>
   <td><b>Shop</b></td>
   <td>:</td>
   <td>SAMPLE</td>
   </tr>
   <tr>
   <td><b>Components</b></td>
   <td>:</td>
   <td>Stage 1 Nozzle</td>
   </tr>
   <tr>
   <td><b>Frame</b></td>
   <td>:</td>
   <td>2F</td>
   </tr>
   <tr>
   <td><b>WIP Report</b></td>
   <td>:</td>
   <td>84</td>
   </tr>
   <tr>
   <td><b>Completed Report</b></td>
   <td>:</td>
   <td>42557</td>
   </tr>
   <tr>
   <td><b>Customer</b></td>
   <td>:</td>
   <td>SAMPLE</td>
   </tr>
   <tr>
   
   </table>

</px-card>

<px-card   id ="4" header-text="Notifications" style="font-family:GE Inspira pitch;position:absolute; margin-left: 0px;margin-right: 950px; margin-top: 230px; min-width: 280px;min-height: 240px;margin-bottom: -250px;padding-bottom: 95px;">

    <paper-icon-button id="number" icon="communication:email" alt="inbox">
</paper-icon-button>
<paper-badge id="PBagde" for="number" label="4">
</paper-badge>
     
    </px-card>
 
    <px-card id="5" header-text="Chatter Box" style="font-family:GE Inspira pitch;background-color:white;color: #005cb9;margin-left: 644px;margin-top: 280px;max-height:470px;padding-bottom:10px;min-width: 325px">
    <px-card-chatBox id="chatBox"></px-card-chatBox>
</px-card>

